In [ ]:
'''Name:Madhesh Raj S
   MailId:madheshraj.new1@gmail.com
'''

In [ ]:
'''Q1. Why do we call Python as a general purpose and high-level programming language?
            Python is considered as a general purpose language as it is widley used in applicaiton such as data science,web development,machine learning,etc.
            It is called as a high level language as it an interpreted language and it is easy for humans to understand.'''

In [ ]:
'''Q2. Why is Python called a dynamically typed language?
            It is called as dynmaically types langauge as it doesnt know about the type of variable until the code is run.'''

In [ ]:
'''Q3. List some pros and cons of Python programming language?
Pro
            Easy to use and fast to develop
            Has many libraries
Cons
            No Multithreading
            High memory consumption '''

In [ ]:
''' Q4. In what all domains can we use Python?
            DataScience
            Machine Learning
            Artifical Intelligence
            Web Development
            Deep Learning '''

In [ ]:
'''Q5. What are variable and how can we declare them?
            In python we dont neet to decalre a variable,A variable will be created at a moment when we assign a value to it
            a='Raj' #string
            b=7 #int
            c=7.0 #float

In [ ]:
'''Q6. How can we take an input from the user in Python?
            By using the python function called "input()"  '''
Name=input("Enter the name")
Age=int(input("Enter the age"))

Enter the nameMadhesh Raj
Enter the age23

In [ ]:
'''Q7. What is the default datatype of the value that has been taken as an input using input() function?
            By default the input() function data type will be of "string" datatype. '''

In [ ]:
'''Q8. What is type casting?
            Type casting is used to convert from one type to another type.Let us consider if the variable a=10 we can convert the varibale a to string 
            by using str function eg:aa=str(a) then the integer data type will be converted into string datatype.'''

In [ ]:
'''Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?
            No,We cant get multiple inputs with the help of single input() function but with the help of split() function we can achieve it.
            x,y=input().split() #it will endind up by taking the two inputs.'''

In [ ]:
'''Q10. What are keywords?
            Keyswords are specially reserved words in python the key words are (and,or,if,else,True,False) '''

In [ ]:
'''Q11. Can we use keywords as a variable? Support your answer with reason.
            No keys words cant be used as a variable ,as it is used to define the syntax of the coding.'''

In [ ]:
'''Q12. What is indentation? What's the use of indentaion in Python?
            indentation means space at the begining of the code in python indentation is used to indicate the block of a code.'''

In [ ]:
'''Q13. How can we throw some output in Python?
            In python the output can be throw with the help of print() fucntion
            in terms of file it is achieved using write() function'''

In [ ]:
'''Q14. What are operators in Python?
            Operators are special symbols in Python that carry out arithmetic or logical computation.
            Assignement operator(+,-,%,/,//)
            Logical Operator(and , or ,not)
            Comparison Operator(==,!=,<,>)
            Bitwise operator(||,^)
            
'''

In [ ]:
''' Q15. What is difference between / and // operators?
            / used for division result with floating point value
            // is called as floor division and returns the value in integer
            Eg:
            10/3=3.3333333
            10//3=3
'''

In [ ]:
'''
Q16. Write a code that gives following as an output.
```
iNeuroniNeuroniNeuroniNeuron
```
'''

print('iNeuron'*4)

iNeuroniNeuroniNeuroniNeuron

In [ ]:
'''
Q17. Write a code to take a number as an input from the user and check if the number is odd or even.
'''
n=int(input("Enter a number  "))
if n%2==0:
  print("The given number",n,"is a even number")
else:
  print("The given number",n,"is a odd number")

Enter a number  2
The given number 2 is a even number

In [ ]:
'''
Q17. Write a code to take a number as an input from the user and check if the number is odd or even.
'''
n=int(input("Enter a number  "))
if n%2==0:
  print("The given number",n,"is a even number")
else:
  print("The given number",n,"is a odd number")

Enter a number  333
The given number 333 is a odd number

In [ ]:
'''Q18. What are boolean operator?
            Boolean operators are (AND,OR,NOT) which results in either True or False
'''

In [ ]:
'''
Q19. What will the output of the following?
```
                                    **Output**
1 or 0                                #1

0 and 0                               #0

True and False and True               #False

1 or 0 or 0                            #1
```'''

In [ ]:
'''
Q20. What are conditional statements in Python?
              Decision-making in a programming language is automated using conditional statements
              The conditions are evaluated and processed as true or false.
              In python it contains as:If,elif,
'''

In [ ]:
'''
Q21. What is use of 'if', 'elif' and 'else' keywords?
          "if" keyword is used to create conditional statements and allows you to execute a block of code only if a condition is True
          "elif" keyword is used in conditional statements and is short for else if.
          "else" keyword is used in conditional statements and decides what to do if the condition is False.
'''

In [ ]:
'''Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".'''

age=int(input("Enter the age: "))
if(age>18):
  print("I can vote.")
elif age<18:
  print("I can't vote")
else:
  print("Enter a valid age")

Enter the age: 10
I can't vote

In [ ]:
'''Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".'''

age=int(input("Enter the age: "))
if(age>18):
  print("I can vote.")
elif age<18:
  print("I can't vote")
else:
  print("Enter a valid age")

Enter the age: 23
I can vote.

In [ ]:
'''
Q23. Write a code that displays the sum of all the even numbers from the given list.
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```
'''
number=[12,75,150,180,145,525,50]
even=[]
for i in number:
  if i%2==0:
    even.append(i)
print("The even number list is",even)
sum=0
for ez in even:
  sum=sum+ez
print("The sum of all even numbers is ",sum)

The even number list is [12, 150, 180, 50]
The sum of all even numbers is  392

In [ ]:
'''
Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.

'''
a,b,c=input("Enter three numbers ").split()
if int(a)>int(b) and int(a)>int(c):
  print("The greatest among three numbers is ",a)
elif int(b)>int(a) and int(b)>int(c):
  print("The greatest among three numbers is ",b)
else:
  print("The greatest among three numbers is ",c)

Enter three numbers 5 84 1
The greatest among three numbers is  84

In [ ]:
'''
Q25. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop
```
numbers = [12, 75, 150, 180, 145, 525, 50]
'''
number=[12,75,150,180,145,525,50]
ans=[]
'''n=int(input("Enter the total number"))
for i in range(n):
  input=input()'''
for i in number:
  if i >500:
    break
  elif i>150:
    continue
  elif i%5==0:
    ans.append(i)
print(ans)

[75, 150, 145]

In [ ]:
                                        #Assignment-2#

In [ ]:
'''
Q26. What is a string? How can we declare string in Python?

                    In python strings are arrays of bytes representing unicode characters.
                    In python string can be declared either by 'single quote' or "double quote"
                    for eg name="Madhesh Raj"
                           initial='S'
'''

In [ ]:
'''
Q27. How can we access the string using its index?
                                  Individual characters in a string can be accessed by specifying the string name followed by a number in square brackets ( [])
                                  For eg:
'''
Name="Madhesh Raj"
print("First char of name",Name[0])
print("Last char of name",Name[-1])
print("Second char of name",Name[1])

#String value cannot be changed.

First char of name M
Last char of name j
Second char of name a

In [ ]:
'''
Q28. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "iNeuron"
'''
string="Big Data iNeuron"
z=list(string.split(" "))
print(z[-1])

iNeuron

In [ ]:
'''
Q29. Write a code to get the desired output of the following
string = "Big Data iNeuron"
desired_output = "norueNi"
'''
string="Big Data iNeuron"
z=list(string.split(" "))
ans=z[-1]
print(ans[::-1])

norueNi

In [ ]:
'''
Q30. Resverse the string given in the above question.
'''#it is done by slicing
string="Big Data iNeuron"[::-1]
print(string)

norueNi ataD giB

In [ ]:
'''
Q31. How can you delete entire string at once?
                  It can be done using del fucntion
'''
string="Big Data iNeuron"
del string

print(string)

NameError: ignored

In [ ]:
'''
Q32. What is escape sequence?
                  The sequence of character which has indirect meaning when it placed within double quotes.
                  It will optimize some the repetitive tasks while programming.
                  Eg:
                    \n,\r,\t,\b
'''

In [ ]:
'''
Q33. How can you print the below string?

'iNeuron's Big Data Course'
'''
#it can a;so be used with / or R
print("'iNeuron's Big Data Course'")

'iNeuron's Big Data Course'

In [ ]:
'''
Q34. What is a list in Python?
                  A list is a data structure in Python that is a mutable,
                  or changeable, ordered sequence of elements.
                  Lists are used to store multiple items in a single variable.
                  Eg:l=[1,"Raj",5.6]
'''

In [ ]:
'''
Q35. How can you create a list in Python?
                  A list is created by placing elements inside square brackets [] , separated by commas
                  It can also be created using list() fucntion

                  Eg:l=[1,2,3]
'''

In [ ]:
'''
Q36. How can we access the elements in a list?
                  List literals are written within square brackets [ ]
                  With the help of square brackets [ ] to access data, with the first element at index 0.

                  Eg:
                      l=[1,2,4]
                      l[0]=1
                      l[2]=4
'''

In [ ]:
'''
Q37. Write a code to access the word "iNeuron" from the given list.

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
'''
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

In [ ]:
'''
Q38. Take a list as an input from the user and find the length of the list.
'''
n=int(input("Enter the total elements:"))
l=[]
for i in range(n):
  i=input()
  l.append(i)
print(l)
le=len(l)
print("Length of the list is:",le)

Enter the total elements:5
Raj
1
5.3
Madde
89
['Raj', '1', '5.3', 'Madde', '89']
Length of the list is: 5

In [ ]:
'''
Q39. Add the word "Big" in the 3rd index of the given list.

lst = ["Welcome", "to", "Data", "course"]
'''
lst = ["Welcome", "to", "Data", "course"]
a="Big"
lst.insert(3,a)
print(lst)

['Welcome', 'to', 'Data', 'Big', 'course']

In [ ]:
'''
Q40. What is a tuple? How is it different from list?
                  Tuples are also used to store multiple items inside a single varibale.
                  Difference from the list is:
                    List are mutable where as tuple are immutable and represented with the symbol ().
'''

In [ ]:
'''
Q41. How can you create a tuple in Python?
                  A tuple is created by placing all the items inside parentheses(),separated by commas.
                  Eg:t=(1,'Raj',5.3)
'''

In [ ]:
'''
Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.
                  We cannot add a element inside a tuple as it "immutable".
                  But we can concatenation
'''
s=(1,2,4,)
name='madhesh raj'
#converting the name to tuple
z=s+(name,)
z

(1, 2, 4, 'madhesh raj')

In [ ]:
'''
Q43. Can two tuple be appended. If yes, write a code for it. If not, why?
                No,We cant append two tuple but can be conacatenated.As it is an immutable it cant be done.
'''
s1=(1,2)
s2=(3,4)
s3=s1+s2
s3

(1, 2, 3, 4)

In [ ]:
'''
Q44. Take a tuple as an input and print the count of elements in it.

'''
n=tuple(input().split(","))
c=len(n)
print("Count of elements in it is:",c)

1,Football,2,Cricket
Count of elements in it is: 4

In [ ]:
'''
Q45. What are sets in Python?
              Sets are used to store multiple items in a single variable.
              A set is a collection which is unordered,unchangeable,and unindexed.
              A Set is an unordered collection data type that is iterable,mutable and has no duplicate elements
'''

In [ ]:
'''
Q46. How can you create a set?
              Set can be created by placing the elements placing inside {}
'''
s={1,"football",2,6.3}
s

{1, 2, 6.3, 'football'}

In [ ]:
'''
Q47. Create a set and add "iNeuron" in your set.
              add() is used to add elemnt inside it.
'''
s=set()
s.add("iNeuron")
s

{'iNeuron'}

In [ ]:
'''
Q48. Try to add multiple values using add() function.
'''
s1={1,2}
s2={3,4}
for i in s2:
  s1.add(i)
print(s1)

{1, 2, 3, 4}

In [ ]:
'''
Q49. How is update() different from add()?
                  add() method to add single value to a set. We use update() method to add sequence values to a set.
'''
s1=set()
s1.add(1)
#s1.add({7,8,6}) #fails
s1
s1.update({2,3,4})
s1

{1, 2, 3, 4}

In [ ]:
'''
Q50. What is clear() in sets?
                  clear is used to remove all the elements inside a set.
'''
s1={1,"raj",6.9}
print(s1)
z=s1.clear()
print("After clearing the set:",z)

{1, 'raj', 6.9}
After clearing the set: None

In [ ]:
'''
Q51. What is frozen set?
                    A frozenset contains unique values, which makes it very similar to set data type. It is immutable like tuples.
'''

In [ ]:
'''
Q52. How is frozen set different from set?
                  The difference between set and frozen set is in 
                  -Set the value can be modified (mutable)
                  -in frozen set the values cannot be modified(immutable)
'''

In [ ]:
'''
Q53. What is union() in sets? Explain via code.
                  union in python is used to combine two sets.ie addition of two sets.
'''
a={1,2,3}
print(type(a))
b={4,5,6}
d=a.union(b) #or d=a|b
d

<class 'set'>

{1, 2, 3, 4, 5, 6}

In [ ]:
'''
Q54. What is intersection() in sets? Explain via code.
                  intersection in python is used to find common between two sets.
'''
a={1,2,3,4,5}
b={1,2,3}
ans=a.intersection(b) #or ans=a&b
#will give only the common elements in it.
ans

{1, 2, 3}

In [ ]:
'''
Q55. What is dictionary in Python?
                  Dictionaries are used to store data values in key:value pairs.
                  It can be changed and doesn't allow duplciates.
'''

In [ ]:
'''
Q56. How is dictionary different from all other data structures.
                A dictionary has a set of keys and each key has a single associated value
                When presented with a key the dictionary will • A dictionary has a set of keys and each key has a single associated value.
                
'''

In [ ]:
'''
Q57. How can we delare a dictionary in Python?
                In python it can be defined by {} or by using dict() fucntion
'''

In [ ]:
'''
Q58. What will the output of the following?

var = {}
print(type(var))

Ans:dict
'''
var = {}
print(type(var))

<class 'dict'>

In [ ]:
'''
Q59. How can we add an element in a dictionary?
'''
d={}
d['Name']="Madhesh"
d['Age']=30
d['Skills']=["Python","sql"] #as a list
d["Nationality"]={"Age<18":"US","Age>18":"UK"} #as a dictionary
d

{'Name': 'Madhesh',
 'Age': 30,
 'Skills': ['Python', 'sql'],
 'Nationality': {'Age<18': 'US', 'Age>18': 'UK'}}

In [ ]:
'''
Q60. Create a dictionary and access all the values in that dictionary.
'''
d={"Name":"Madhesh","Age":30,"Skills":["Python","Sql"],"Nationality":{"Age<18":"US","Age>18":"UK"}}
print("Name:",d["Name"])
print("Age:",d["Age"])
print("Primary skill",d["Skills"][1])
print("Secondary skill",d["Skills"][0])
print(d["Nationality"]["Age<18"])
print(d["Nationality"]["Age>18"])

Name: Madhesh
Age: 30
Primary skill Sql
Secondary skill Python
US
UK

In [ ]:
'''
Q61. Create a nested dictionary and access all the element in the inner dictionary.
'''
d={"Barcelona":{"Players":["Messi","Puyol"],"Title":78},"Real Madrid":{"Players":["Ronaldo","Ramos"],"Title":83}}
print(d["Barcelona"]["Players"])
print(d["Real Madrid"]["Players"])
print(d["Real Madrid"]["Title"])
print(d["Barcelona"]["Title"])

['Messi', 'Puyol']
['Ronaldo', 'Ramos']
83
78

In [ ]:
'''
Q62. What is the use of get() function?
                  The get() method returns the value of the item with the specified key.
'''
d={"Name":"Madhesh","Age":30,"Skills":["Python","Sql"],"Nationality":{"Age<18":"US","Age>18":"UK"}}
print(d.get("Name"))
print(d.get("Nationality"))

Madhesh
{'Age<18': 'US', 'Age>18': 'UK'}

In [ ]:
'''
Q63. What is the use of items() function?
                  items() method is used to return the list with all dictionary keys with values.
'''
d={"Name":"Madhesh","Age":30,"Skills":["Python","Sql"],"Nationality":{"Age<18":"US","Age>18":"UK"}}
print(d.items())
print(list(d.items()))

dict_items([('Name', 'Madhesh'), ('Age', 30), ('Skills', ['Python', 'Sql']), ('Nationality', {'Age<18': 'US', 'Age>18': 'UK'})])
{'Name': 'Madhesh', 'Age': 30, 'Skills': ['Python', 'Sql'], 'Nationality': {'Age<18': 'US', 'Age>18': 'UK'}}

In [ ]:
'''
Q64. What is the use of pop() function?
          The pop() method removes the element at the specified position.
'''
d={"Name":"Madhesh","Age":30,"Skills":["Python","Sql"],"Nationality":{"Age<18":"US","Age>18":"UK"}}
print(d.pop("Age"))
#will not be able to see age item
print(d)

30
{'Name': 'Madhesh', 'Skills': ['Python', 'Sql'], 'Nationality': {'Age<18': 'US', 'Age>18': 'UK'}}

In [ ]:
'''
Q65. What is the use of popitems() function?
              The popitem() method removes the item that was last inserted into the dictionary.
'''
d={"Name":"Madhesh","Age":30,"Skills":["Python","Sql"],"Nationality":{"Age<18":"US","Age>18":"UK"}}
d.popitem()
print(d)

{'Name': 'Madhesh', 'Age': 30, 'Skills': ['Python', 'Sql']}

In [ ]:
'''
Q66. What is the use of keys() function?
                The keys() method in Python Dictionary, returns a view object that displays a list of all the keys in the dictionary in order of insertion.
'''
d={"Name":"Madhesh","Age":30,"Skills":["Python","Sql"],"Nationality":{"Age<18":"US","Age>18":"UK"}}
print(d.keys())

dict_keys(['Name', 'Age', 'Skills', 'Nationality'])

In [ ]:
'''
Q67. What is the use of values() function?
                The view object contains the values of the dictionary, as a list
'''
d={"Name":"Madhesh","Age":30,"Skills":["Python","Sql"],"Nationality":{"Age<18":"US","Age>18":"UK"}}
print(d.values())

dict_values(['Madhesh', 30, ['Python', 'Sql'], {'Age<18': 'US', 'Age>18': 'UK'}])

In [ ]:
'''
Q68. What are loops in Python?
                A for loop is used for iterating over a sequence of items in list or set or tuples.
'''

In [ ]:
'''
Q69. How many type of loop are there in Python?
      There are two types of loops in Python, for and while loop.
'''

In [ ]:
'''
Q70. What is the difference between for and while loops?
      Difference between this loops is in while loop we need to do the counter(iteration) explicitly.
      in for loop increment will be done automatically.
'''

In [ ]:
'''
Q71. What is the use of continue statement?
      The continue keyword is used to end the current iteration in a for or while loop), and continues to the next iteration.
'''
i = 0
while i < 9:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9

In [ ]:
'''
Q72. What is the use of break statement?
           It is used to control the sequence of the loop. Suppose you want to terminate a loop and skip to the next code after the loop.
'''
for i in range(9):
  if i > 3:
    break
  print(i)

0
1
2
3

In [ ]:
'''
Q73. What is the use of pass statement?
            It is used to skip a specific elemnt if it is mentioned
'''
l=[1,2,3,4,5]
for i in l:
  if i==3:
    pass
  else:
    print(i)

1
2
4
5

In [ ]:
'''
Q74. What is the use of range() function?
              The range() function returns a sequence of numbers,starting from 0 by default,and increments by 1,
              and stops before a specified number.
'''
l=[1,2,3,4]
for i in range(0,len(l)):
  print(i)

0
1
2
3

In [ ]:
'''
Q75. How can you loop over a dictionary?
'''
d={"Name":"Madhesh","Age":30,"Skills":["Python","Sql"],"Nationality":{"Age<18":"US","Age>18":"UK"}}
for k,v in d.items():
  print("Keys in the dict is:",k,"\nValues in the dict is::",v)

Keys in the dict is: Name
Values in the dict is:: Madhesh
Keys in the dict is: Age
Values in the dict is:: 30
Keys in the dict is: Skills
Values in the dict is:: ['Python', 'Sql']
Keys in the dict is: Nationality
Values in the dict is:: {'Age<18': 'US', 'Age>18': 'UK'}

In [ ]:
                                                                                #Coding Problems#

In [ ]:
'''
Q76. Write a Python program to find the factorial of a given number.
'''
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    f=1
    for i in range(2,n+1):
      f=f*i
    return f
n=int(input("Enter a number:"))
ans=factorial(n)
print("The factorial is: ",ans)

Enter a number:5
The factorial is:  120

In [ ]:
'''
Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100
'''
P=int(input("Enter the value of P:"))
R=int(input("Enter the value of R:"))
T=int(input("Enter the value of T:"))
SI=(P*R*T)/100
print("The SI is:",SI)

Enter the value of P:5
Enter the value of R:10
Enter the value of T:1
The SI is: 0.5

In [ ]:
'''
Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.
'''
P=int(input("Enter the value of P:"))
R=int(input("Enter the value of R:"))
T=int(input("Enter the value of T:"))
r=R/100
a=P*(1+r)
A=pow(a,T)
print("The compund intrest is: ",A)

Enter the value of P:5
Enter the value of R:10
Enter the value of T:12
The compund intrest is:  766217865.4104004

In [ ]:
'''
Q79. Write a Python program to check if a number is prime or not.
'''
n=int(input("Enter a number:"))
for i in range(2,n):
  if n%i==0:
    print("Not a prime")
    break
  else:
    print("It is a prime")
    break

Enter a number:20
Not a prime

In [ ]:
'''
Q80. Write a Python program to check Armstrong Number.
'''
n=int(input("Enter a number:"))
temp=n
arm=0
while temp>0:
  #arm=0
  r=temp%10
  #print(r)
  arm=arm+pow(r,3)
 #print(arm,"<---Arm")
  temp=temp//10
if n==arm:
  print("It is a armstrong number")
else:
  print("Not a armstrong number")

Enter a number:407
It is a armstrong number

In [ ]:
'''
Q81. Write a Python program to find the n-th Fibonacci Number.
'''
n=int(input("Enter a number:"))
a=0
b=1
#print(a,"\n",b)
if n<0:
  print("Incorrect input")
elif n==0:
  print("0")
elif n==1:
  print("1")
else:
  print(a)
  print(b)
  for i in range(2,n+1):
    c=a+b
    a=b
    b=c
    print(c)
#print(c)

Enter a number:9
0
1
1
2
3
5
8
13
21
34

In [ ]:
'''
Q82. Write a Python program to interchange the first and last element in a list.
'''
n=int(input("Enter the total elements:"))
l=[]
for i in range(n):
  i=int(input())
  l.append(i)
print("List before swapping",l)
"""temp=l[0]
l[0]=l[-1]
l[-1]=temp"""
l[0],l[-1]=l[-1],l[0]
print("List After swapping",l)

Enter the total elements:3
1
2
3
List before swapping [1, 2, 3]
List After swapping [3, 2, 1]

In [ ]:
'''
Q83. Write a Python program to swap two elements in a list.
'''
l=[]
n=int(input("Enter the total elements"))
for i in range(1,n+1):
  i=input()
  l.append(i)
print("The list before swapping",l)
a=int(input("Enter the first psoition to be swapped "))
b=int(input("Enter the second position to be swapped with first one "))
l[a],l[b]=l[b],l[a]
print("The list after swappping two elements",l)

Enter the total elements5
Raj
1
99
S
Madhesh
The list before swapping ['Raj', '1', '99', 'S', 'Madhesh']
Enter the first psoition to be swapped 0
Enter the second position to be swapped with first one 4
The list after swappping two elements ['Madhesh', '1', '99', 'S', 'Raj']

In [ ]:
'''
Q84. Write a Python program to find N largest element from a list.
'''
n=int(input("Enter the total elements:"))
l=[]
for i in range(n):
  i=int(input())
  l.append(i)
temp=l[0]
for i in l:
    if temp<i:
      max=i
    else:
      max=temp
print('Maximum element in a list is:',max)

Enter the total elements:5
500
2
320
88
45
Maximum element in a list is: 500

In [ ]:
'''
Q85. Write a Python program to find cumulative sum of a list.
'''
n=int(input("Enter the total elements:"))
l=[]
ans=[]
sum=0
for i in range(n):
  i=int(input())
  l.append(i)
for i in range(0,n):
  sum=sum+l[i]
  ans.append(sum)
'''for i in l:
  sum=sum+i'''
print("The Cummilative sum of a list is:",ans)

Enter the total elements:5
10
20
30
40
50
The Cummilative sum of a list is: [10, 30, 60, 100, 150]

In [ ]:
'''
Q86. Write a Python program to check if a number is palindrome or not.
'''
n=int(input())
temp=n
rev=0
while temp>0:
  rem=temp%10
  rev=rev*10+rem
  temp=temp//10
#print(int(rev))
if(n==rev):
  print(n,"is a Palindrome number")
else:
  print(n,"is not a Palindrome number")

202
202 is a Palindrome number

In [ ]:
'''
Q86. Write a Python program to check if a string is palindrome or not.
'''
n=input()
temp=n
rev=temp[::-1]
if(n==rev):
  print(n,"is a Palindrome")
else:
  print(n,"is not a Palindrome")

mom
mom is a Palindrome

In [ ]:
'''
Q87. Write a Python program to remove i'th element from a string.
'''

string=input()
i=int(input("Enter the i'th element"))
after_removal=string.replace(string[i],"")
print("After removal: ",after_removal)

Manoj Singh
Enter the i'th element4
After removal:  Mano Singh

In [ ]:
'''
Q88. Write a Python program to check if a substring is present in a given string.
'''
string=input("Enter a string: ")
word=input("Enter a substring: ")
if word in string:
  print(word,"is present inside",string)
else:
  print(word,"is Not present inside",string)

Enter a string: Hima Deo
Enter a substring: Raj
Raj is Not present inside Hima Deo

In [ ]:
'''
Q89. Write a Python program to find words which are greater than given length k.
'''
n=input("Enter the sentence: ")
s=list(n.split(" "))
#print(s)
k=int(input("Enter the lenght of k:"))
for i in s:
  if len(i)>k:
    print("The words that are greater than length k are: ",i)

Enter the sentence: I have enrolled for Big data bootcamp 2.0.
Enter the lenght of k:3
The words that are greater than length k are:  have
The words that are greater than length k are:  enrolled
The words that are greater than length k are:  data
The words that are greater than length k are:  bootcamp
The words that are greater than length k are:  2.0.

In [ ]:
'''
Q90. Write a Python program to extract unquire dictionary values.
'''
d={"Bat":13,"Ball":15,"Gloves":13,"Abdomen":14,"Stump":3}
l=[]
for v in d.values():
  l.append(v)
s=set(l)
ans=list(s)
print("The unique values in the Dictionary are:",ans)

The unique values in the Dictionary are: [3, 13, 14, 15]

In [ ]:
'''
Q91. Write a Python program to merge two dictionary.
'''
d1={"Bat":13,"Ball":15,"Gloves":13,"Abdomen":14,"Stump":3}
d2={"Medical_kit":5,"Referee":3}
#d1.update(d2)
d3={**d1,**d2}
print(d3)

{'Bat': 13, 'Ball': 15, 'Gloves': 13, 'Abdomen': 14, 'Stump': 3, 'Medical_kit': 5, 'Referee': 3}

In [ ]:
'''
Q92. Write a Python program to convert a list of tuples into dictionary.

Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}
'''
Input=[('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
d=dict(Input)
print("In dictionary format is :",d)

In dictionary format is : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [ ]:
'''
Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]
'''
l=[9,5,6]
tl=[]
for i in l:
  t=(i,(i**3))
  tl.append(t)
print(tl)

[(9, 729), (5, 125), (6, 216)]

In [ ]:
'''
Q94. Write a Python program to get all combinations of 2 tuples.

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]
'''
from itertools import product,chain
t1 = (7, 2)
t2 = (7, 8)
result = list(chain(product(t1, t2), product(t2, t1))) 
result

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [ ]:
'''
Q95. Write a Python program to sort a list of tuples by second item.

Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]
'''
l1=[('for', 24), ('Geeks', 8), ('Geeks', 30)]
print("Original tuple: ",l1,"\n")
l1.sort()
print("Sorted list of first element: ",l1,"\n")

l1.sort(key=lambda item2:item2[1])
print("Sorted list of Second element: ",l1,"\n")

Original tuple:  [('for', 24), ('Geeks', 8), ('Geeks', 30)]

Sorted list of first element:  [('Geeks', 8), ('Geeks', 30), ('for', 24)]

Sorted list of Second element:  [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [ ]:
'''
Q96. Write a python program to print below pattern.

* 
* * 
* * * 
* * * * 
* * * * * 
'''
n=int(input("Enter the total rows:"))
m=int(input("Enter the total columns:"))
for i in range(n):
  for j in range(i+1):
    print(" * ",end="")
  print()

Enter the total rows:5
Enter the total columns:5
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
'''
Q97. Write a python program to print below pattern.

    *
   **
  ***
 ****
*****
'''
n,m=map(int,input("Enter the number of rows and columns: ").split(" "))
for i in range(n+1):
  for j in range(m+1):
    if j>=m-i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

Enter the number of rows and columns: 5 5
          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [ ]:
'''
Q98. Write a python program to print below pattern.

    * 
   * * 
  * * * 
 * * * * 
* * * * * 
'''
n=int(input("Enter the total rows: "))
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(i+1):
    print("*",end=" ")
  print()

Enter the total rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
'''
Q99. Write a python program to print below pattern.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
'''
n=int(input("Enter the total rows: "))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

Enter the total rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
'''
Q100. Write a python program to print below pattern.

A 
B B 
C C C 
D D D D 
E E E E E 
'''
n=int(input("Enter the total rows: "))
asci=65
for i in range(0,n):
  for j in range(i+1):
    val=chr(asci)
    print(val,end=" ")
  asci=asci+1
  print()

Enter the total rows: 5
A
B B
C C C
D D D D
E E E E E